// COLOR VARIABLES
$primary-color: #8D8181;
$primary-color-light: #B6ABAB;
$text-color: #000000;
$link-color: #1700FF;


//FONT VARIABLES
$font-primary:  'Source Sans Pro', sans-serif;
$font-display: 'Josefin Sans', sans-serif;